<settings>
    <setting id="1movie" value="true" />
    <setting id="2ddl" value="true" />
    <setting id="4k_tmdb" value="false" />
    <setting id="Email" value="meni4321@gmail.com" />
    <setting id="M3u8_addr-1" value="" />
    <setting id="M3u8_addr-2" value="" />
    <setting id="M3u8_addr-3" value="" />
    <setting id="M3u8_addr-4" value="" />
    <setting id="M3u8_addr-5" value="" />
    <setting id="M3u8_name-1" value="" />
    <setting id="M3u8_name-2" value="" />
    <setting id="M3u8_name-3" value="" />
    <setting id="M3u8_name-4" value="" />
    <setting id="M3u8_name-5" value="" />
    <setting id="Password" value="meni1234" />
    <setting id="Password_sdr" value="" />
    <setting id="Pastebin-1-1" value="http://supremacy.org.uk/tombraider/dogsbollocks/realdebrid.txt" />
    <setting id="Pastebin-1-10" value="http://wolfpackcrew.co.uk/seeddata/morepower/20152016.xml" />
    <setting id="Pastebin-1-11" value="http://wolfpackcrew.co.uk/seeddata/morepower/mainmovielist.xml" />
    <setting id="Pastebin-1-12" value="https://pastebin.com/raw/hXtHkAEg" />
    <setting id="Pastebin-1-13" value="http://mrblamo.xyz/xml/blams/realdebrid.xml" />
    <setting id="Pastebin-1-14" value="" />
    <setting id="Pastebin-1-15" value="" />
    <setting id="Pastebin-1-16" value="" />
    <setting id="Pastebin-1-17" value="" />
    <setting id="Pastebin-1-18" value="" />
    <setting id="Pastebin-1-19" value="" />
    <setting id="Pastebin-1-2" value="http://myatom.one/addon/movies/debrid-movies.txt" />
    <setting id="Pastebin-1-20" value="" />
    <setting id="Pastebin-1-21" value="" />
    <setting id="Pastebin-1-22" value="" />
    <setting id="Pastebin-1-23" value="" />
    <setting id="Pastebin-1-24" value="" />
    <setting id="Pastebin-1-25" value="" />
    <setting id="Pastebin-1-26" value="" />
    <setting id="Pastebin-1-27" value="" />
    <setting id="Pastebin-1-28" value="" />
    <setting id="Pastebin-1-29" value="" />
    <setting id="Pastebin-1-3" value="http://bossbuilds.club/pluto/pluto/movdts.xml" />
    <setting id="Pastebin-1-30" value="" />
    <setting id="Pastebin-1-31" value="" />
    <setting id="Pastebin-1-32" value="" />
    <setting id="Pastebin-1-33" value="" />
    <setting id="Pastebin-1-34" value="" />
    <setting id="Pastebin-1-35" value="" />
    <setting id="Pastebin-1-36" value="" />
    <setting id="Pastebin-1-37" value="" />
    <setting id="Pastebin-1-38" value="" />
    <setting id="Pastebin-1-39" value="" />
    <setting id="Pastebin-1-4" value="https://pastebin.com/raw/GE26fLbE" />
    <setting id="Pastebin-1-40" value="" />
    <setting id="Pastebin-1-5" value="http://stephen-builds.uk/supremacy/Real%20Debrid%20Movies/Real%20Debrid%20Movies.xml" />
    <setting id="Pastebin-1-6" value="http://worldkodi.com/UniverseHD/Xml/HD%20Movies.xml" />
    <setting id="Pastebin-1-7" value="http://gen-tec.co/gentecwiz/PLEASE%20SUBSCRIBE%20TO%20CHARLIE%20TEC%20YOUTUBE/star/movies/DEBRID.xml" />
    <setting id="Pastebin-1-8" value="http://steptoesplace.net/server/1080p.xml" />
    <setting id="Pastebin-1-9" value="http://wolfpackcrew.co.uk/seeddata/morepower/2016new.xml" />
    <setting id="Pastebin-2-1" value="http://wolfpackcrew.co.uk/seeddata/morepower/4K.xml" />
    <setting id="Pastebin-2-10" value="http://stephen-builds.uk/supremacy/4K%20Movies/4K%20Movies.txt" />
    <setting id="Pastebin-2-11" value="http://worldkodi.com/UniverseHD/Xml/UHD.xml" />
    <setting id="Pastebin-2-12" value="http://gen-tec.co/gentecwiz/PLEASE%20SUBSCRIBE%20TO%20CHARLIE%20TEC%20YOUTUBE/star/movies/4kmovies.xml" />
    <setting id="Pastebin-2-13" value="" />
    <setting id="Pastebin-2-14" value="" />
    <setting id="Pastebin-2-15" value="" />
    <setting id="Pastebin-2-16" value="" />
    <setting id="Pastebin-2-17" value="" />
    <setting id="Pastebin-2-18" value="" />
    <setting id="Pastebin-2-19" value="" />
    <setting id="Pastebin-2-2" value="https://dl.dropboxusercontent.com/s/qgqyru8rcyn0i20/4k.txt" />
    <setting id="Pastebin-2-20" value="" />
    <setting id="Pastebin-2-21" value="" />
    <setting id="Pastebin-2-22" value="" />
    <setting id="Pastebin-2-23" value="" />
    <setting id="Pastebin-2-24" value="" />
    <setting id="Pastebin-2-25" value="" />
    <setting id="Pastebin-2-26" value="" />
    <setting id="Pastebin-2-27" value="" />
    <setting id="Pastebin-2-28" value="" />
    <setting id="Pastebin-2-29" value="" />
    <setting id="Pastebin-2-3" value="http://myatom.one/addon/4k-movies/4K-Movies.txt" />
    <setting id="Pastebin-2-30" value="" />
    <setting id="Pastebin-2-31" value="" />
    <setting id="Pastebin-2-32" value="" />
    <setting id="Pastebin-2-33" value="" />
    <setting id="Pastebin-2-34" value="" />
    <setting id="Pastebin-2-35" value="" />
    <setting id="Pastebin-2-36" value="" />
    <setting id="Pastebin-2-37" value="" />
    <setting id="Pastebin-2-38" value="" />
    <setting id="Pastebin-2-39" value="" />
    <setting id="Pastebin-2-4" value="http://bossbuilds.club/pluto/pluto/4kmovies.xml" />
    <setting id="Pastebin-2-40" value="" />
    <setting id="Pastebin-2-5" value="https://pastebin.com/raw/DHHXrThW" />
    <setting id="Pastebin-2-6" value="https://pastebin.com/raw/Adq9yRTd" />
    <setting id="Pastebin-2-7" value="https://pastebin.com/raw/6Xf0eSwB" />
    <setting id="Pastebin-2-8" value="http://steptoesplace.net/server/4k.xml" />
    <setting id="Pastebin-2-9" value="http://supremacy.org.uk/tombraider/dogsbollocks/uhd.txt" />
    <setting id="Pastebin-3-1" value="http://supremacy.org.uk/tombraider/dogsbollocks/newreleases.txt" />
    <setting id="Pastebin-3-10" value="" />
    <setting id="Pastebin-3-11" value="" />
    <setting id="Pastebin-3-12" value="" />
    <setting id="Pastebin-3-13" value="" />
    <setting id="Pastebin-3-14" value="" />
    <setting id="Pastebin-3-15" value="" />
    <setting id="Pastebin-3-16" value="" />
    <setting id="Pastebin-3-17" value="" />
    <setting id="Pastebin-3-18" value="" />
    <setting id="Pastebin-3-19" value="" />
    <setting id="Pastebin-3-2" value="http://stephen-builds.uk/supremacy/Movies/movies.txt" />
    <setting id="Pastebin-3-20" value="" />
    <setting id="Pastebin-3-21" value="" />
    <setting id="Pastebin-3-22" value="" />
    <setting id="Pastebin-3-23" value="" />
    <setting id="Pastebin-3-24" value="" />
    <setting id="Pastebin-3-25" value="" />
    <setting id="Pastebin-3-26" value="" />
    <setting id="Pastebin-3-27" value="" />
    <setting id="Pastebin-3-28" value="" />
    <setting id="Pastebin-3-29" value="" />
    <setting id="Pastebin-3-3" value="http://stephen-builds.uk/supremacy/New%20Releases/New%20Releases.txt" />
    <setting id="Pastebin-3-30" value="" />
    <setting id="Pastebin-3-31" value="" />
    <setting id="Pastebin-3-32" value="" />
    <setting id="Pastebin-3-33" value="" />
    <setting id="Pastebin-3-34" value="" />
    <setting id="Pastebin-3-35" value="" />
    <setting id="Pastebin-3-36" value="" />
    <setting id="Pastebin-3-37" value="" />
    <setting id="Pastebin-3-38" value="" />
    <setting id="Pastebin-3-39" value="" />
    <setting id="Pastebin-3-4" value="https://pastebin.com/raw/t5SXCzjm" />
    <setting id="Pastebin-3-40" value="" />
    <setting id="Pastebin-3-5" value="http://steptoesplace.net/server/monstermovies.xml" />
    <setting id="Pastebin-3-6" value="http://worldkodi.com/UniverseHD/Xml/NewReleases.xml" />
    <setting id="Pastebin-3-7" value="https://pastebin.com/raw/6XjvUbHA" />
    <setting id="Pastebin-3-8" value="" />
    <setting id="Pastebin-3-9" value="" />
    <setting id="Pastebin-4-1" value="https://pastebin.com/raw/6XjvUbHA" />
    <setting id="Pastebin-4-10" value="" />
    <setting id="Pastebin-4-11" value="" />
    <setting id="Pastebin-4-12" value="" />
    <setting id="Pastebin-4-13" value="" />
    <setting id="Pastebin-4-14" value="" />
    <setting id="Pastebin-4-15" value="" />
    <setting id="Pastebin-4-16" value="" />
    <setting id="Pastebin-4-17" value="" />
    <setting id="Pastebin-4-18" value="" />
    <setting id="Pastebin-4-19" value="" />
    <setting id="Pastebin-4-2" value="" />
    <setting id="Pastebin-4-20" value="" />
    <setting id="Pastebin-4-21" value="" />
    <setting id="Pastebin-4-22" value="" />
    <setting id="Pastebin-4-23" value="" />
    <setting id="Pastebin-4-24" value="" />
    <setting id="Pastebin-4-25" value="" />
    <setting id="Pastebin-4-26" value="" />
    <setting id="Pastebin-4-27" value="" />
    <setting id="Pastebin-4-28" value="" />
    <setting id="Pastebin-4-29" value="" />
    <setting id="Pastebin-4-3" value="" />
    <setting id="Pastebin-4-30" value="" />
    <setting id="Pastebin-4-31" value="" />
    <setting id="Pastebin-4-32" value="" />
    <setting id="Pastebin-4-33" value="" />
    <setting id="Pastebin-4-34" value="" />
    <setting id="Pastebin-4-35" value="" />
    <setting id="Pastebin-4-36" value="" />
    <setting id="Pastebin-4-37" value="" />
    <setting id="Pastebin-4-38" value="" />
    <setting id="Pastebin-4-39" value="" />
    <setting id="Pastebin-4-4" value="" />
    <setting id="Pastebin-4-40" value="" />
    <setting id="Pastebin-4-5" value="" />
    <setting id="Pastebin-4-6" value="" />
    <setting id="Pastebin-4-7" value="" />
    <setting id="Pastebin-4-8" value="" />
    <setting id="Pastebin-4-9" value="" />
    <setting id="Pastebin-5-1" value="http://supremacy.org.uk/tombraider/dogsbollocks/realdebrid.txt" />
    <setting id="Pastebin-5-10" value="https://dl.dropboxusercontent.com/s/qgqyru8rcyn0i20/4k.txt" />
    <setting id="Pastebin-5-11" value="http://myatom.one/addon/4k-movies/4K-Movies.txt" />
    <setting id="Pastebin-5-12" value="http://stephen-builds.uk/supremacy/Real%20Debrid%20Movies/Real%20Debrid%20Movies.xml" />
    <setting id="Pastebin-5-13" value="http://bossbuilds.club/pluto/pluto/4kmovies.xml" />
    <setting id="Pastebin-5-14" value="http://bossbuilds.club/pluto/pluto/movdts.xml" />
    <setting id="Pastebin-5-15" value="https://pastebin.com/raw/GE26fLbE" />
    <setting id="Pastebin-5-16" value="http://worldkodi.com/UniverseHD/Xml/HD%20Movies.xml" />
    <setting id="Pastebin-5-17" value="http://gen-tec.co/gentecwiz/PLEASE%20SUBSCRIBE%20TO%20CHARLIE%20TEC%20YOUTUBE/star/movies/DEBRID.xml" />
    <setting id="Pastebin-5-18" value="http://steptoesplace.net/server/1080p.xml" />
    <setting id="Pastebin-5-19" value="https://pastebin.com/raw/hXtHkAEg" />
    <setting id="Pastebin-5-2" value="https://pastebin.com/raw/DHHXrThW" />
    <setting id="Pastebin-5-20" value="http://wolfpackcrew.co.uk/seeddata/morepower/4K.xml" />
    <setting id="Pastebin-5-21" value="https://pastebin.com/raw/kUd6K6sB" />
    <setting id="Pastebin-5-22" value="http://myatom.one/addon/movies/debrid-movies.txt" />
    <setting id="Pastebin-5-23" value="" />
    <setting id="Pastebin-5-24" value="" />
    <setting id="Pastebin-5-25" value="" />
    <setting id="Pastebin-5-26" value="" />
    <setting id="Pastebin-5-27" value="" />
    <setting id="Pastebin-5-28" value="" />
    <setting id="Pastebin-5-29" value="" />
    <setting id="Pastebin-5-3" value="https://pastebin.com/raw/Adq9yRTd" />
    <setting id="Pastebin-5-30" value="" />
    <setting id="Pastebin-5-31" value="" />
    <setting id="Pastebin-5-32" value="" />
    <setting id="Pastebin-5-33" value="" />
    <setting id="Pastebin-5-34" value="" />
    <setting id="Pastebin-5-35" value="" />
    <setting id="Pastebin-5-36" value="" />
    <setting id="Pastebin-5-37" value="" />
    <setting id="Pastebin-5-38" value="" />
    <setting id="Pastebin-5-39" value="" />
    <setting id="Pastebin-5-4" value="https://pastebin.com/raw/6Xf0eSwB" />
    <setting id="Pastebin-5-40" value="" />
    <setting id="Pastebin-5-5" value="http://steptoesplace.net/server/4k.xml" />
    <setting id="Pastebin-5-6" value="http://supremacy.org.uk/tombraider/dogsbollocks/uhd.txt" />
    <setting id="Pastebin-5-7" value="http://stephen-builds.uk/supremacy/4K%20Movies/4K%20Movies.txt" />
    <setting id="Pastebin-5-8" value="http://worldkodi.com/UniverseHD/Xml/UHD.xml" />
    <setting id="Pastebin-5-9" value="http://gen-tec.co/gentecwiz/PLEASE%20SUBSCRIBE%20TO%20CHARLIE%20TEC%20YOUTUBE/star/movies/4kmovies.xml" />
    <setting id="Pastebin-6-1" value="https://pastebin.com/raw/GE26fLbE" />
    <setting id="Pastebin-6-10" value="" />
    <setting id="Pastebin-6-11" value="" />
    <setting id="Pastebin-6-12" value="" />
    <setting id="Pastebin-6-13" value="" />
    <setting id="Pastebin-6-14" value="" />
    <setting id="Pastebin-6-15" value="" />
    <setting id="Pastebin-6-16" value="" />
    <setting id="Pastebin-6-17" value="" />
    <setting id="Pastebin-6-18" value="" />
    <setting id="Pastebin-6-19" value="" />
    <setting id="Pastebin-6-2" value="" />
    <setting id="Pastebin-6-20" value="" />
    <setting id="Pastebin-6-21" value="" />
    <setting id="Pastebin-6-22" value="" />
    <setting id="Pastebin-6-23" value="" />
    <setting id="Pastebin-6-24" value="" />
    <setting id="Pastebin-6-25" value="" />
    <setting id="Pastebin-6-26" value="" />
    <setting id="Pastebin-6-27" value="" />
    <setting id="Pastebin-6-28" value="" />
    <setting id="Pastebin-6-29" value="" />
    <setting id="Pastebin-6-3" value="" />
    <setting id="Pastebin-6-30" value="" />
    <setting id="Pastebin-6-31" value="" />
    <setting id="Pastebin-6-32" value="" />
    <setting id="Pastebin-6-33" value="" />
    <setting id="Pastebin-6-34" value="" />
    <setting id="Pastebin-6-35" value="" />
    <setting id="Pastebin-6-36" value="" />
    <setting id="Pastebin-6-37" value="" />
    <setting id="Pastebin-6-38" value="" />
    <setting id="Pastebin-6-39" value="" />
    <setting id="Pastebin-6-4" value="" />
    <setting id="Pastebin-6-40" value="" />
    <setting id="Pastebin-6-5" value="" />
    <setting id="Pastebin-6-6" value="" />
    <setting id="Pastebin-6-7" value="" />
    <setting id="Pastebin-6-8" value="" />
    <setting id="Pastebin-6-9" value="" />
    <setting id="adv_watched" value="true" />
    <setting id="afdah" value="true" />
    <setting id="all_t" value="2" />
    <setting id="ap2s" value="true" />
    <setting id="arab" value="true" />
    <setting id="auto_enable" value="false" />
    <setting id="auto_q" value="true" />
    <setting id="auto_q_source" value="true" />
    <setting id="ava" value="true" />
    <setting id="avanger" value="true" />
    <setting id="avanger_s" value="true" />
    <setting id="az" value="true" />
    <setting id="bmovie" value="true" />
    <setting id="bsm" value="true" />
    <setting id="buffer_pre" value="25" />
    <setting id="cen" value="true" />
    <setting id="chache_clean" value="false" />
    <setting id="chapi_enable" value="false" />
    <setting id="check_subs" value="false" />
    <setting id="cin" value="true" />
    <setting id="cinb" value="true" />
    <setting id="clv" value="true" />
    <setting id="cmovies" value="true" />
    <setting id="connection_speed" value="50" />
    <setting id="connections_limit" value="200" />
    <setting id="ct" value="true" />
    <setting id="db_backup" value="1" />
    <setting id="db_bk_name" value="db_backup" />
    <setting id="debug" value="false" />
    <setting id="debugmode" value="false" />
    <setting id="dht_routers" value="" />
    <setting id="dialog_idm" value="true" />
    <setting id="direct_server" value="true" />
    <setting id="disapear" value="false" />
    <setting id="dl20" value="true" />
    <setting id="dlt" value="true" />
    <setting id="domain_sp2" value="walla.xyz" />
    <setting id="domain_sp3" value="ynet.fun" />
    <setting id="download_kbps" value="0" />
    <setting id="dp" value="true" />
    <setting id="dp_play" value="true" />
    <setting id="drdl" value="true" />
    <setting id="drw" value="true" />
    <setting id="dwatch" value="true" />
    <setting id="egyp" value="true" />
    <setting id="emv" value="true" />
    <setting id="enable_db_bk" value="false" />
    <setting id="enable_dht" value="true" />
    <setting id="enable_lsd" value="true" />
    <setting id="enable_natpmp" value="true" />
    <setting id="enable_scrape" value="false" />
    <setting id="enable_tcp" value="true" />
    <setting id="enable_upnp" value="true" />
    <setting id="enable_utp" value="true" />
    <setting id="encryption" value="1" />
    <setting id="esc" value="true" />
    <setting id="extra" value="true" />
    <setting id="f2m" value="true" />
    <setting id="fast_play2_movie" value="false" />
    <setting id="fast_play2_tv" value="false" />
    <setting id="fav_search_f" value="false" />
    <setting id="fav_search_rest" value="true" />
    <setting id="fav_search_time" value="10" />
    <setting id="fav_search_time_en" value="false" />
    <setting id="fav_servers" value="" />
    <setting id="fav_servers_en" value="false" />
    <setting id="film" value="true" />
    <setting id="filter_fp" value="true" />
    <setting id="flix" value="true" />
    <setting id="fmovie" value="true" />
    <setting id="fp" value="true" />
    <setting id="fp_size" value="3" />
    <setting id="fp_size_en" value="true" />
    <setting id="ftp" value="true" />
    <setting id="ftp_host" value="" />
    <setting id="ftp_pass" value="" />
    <setting id="ftp_size" value="3" />
    <setting id="ftp_user" value="" />
    <setting id="fun" value="true" />
    <setting id="fxy" value="true" />
    <setting id="genv" value="true" />
    <setting id="getgo" value="true" />
    <setting id="ghost" value="true" />
    <setting id="gona" value="true" />
    <setting id="google_server" value="true" />
    <setting id="group_m3u" value="false" />
    <setting id="hdk" value="true" />
    <setting id="hdm" value="true" />
    <setting id="hdonline" value="true" />
    <setting id="hdt" value="true" />
    <setting id="hdv" value="true" />
    <setting id="heb_server" value="true" />
    <setting id="hight" value="700" />
    <setting id="hlm" value="true" />
    <setting id="hub" value="true" />
    <setting id="icy" value="true" />
    <setting id="idm_folder" value="C:\Program Files (x86)\Internet Download Manager" />
    <setting id="ignore_ser" value="" />
    <setting id="ind" value="true" />
    <setting id="iwi" value="true" />
    <setting id="iww" value="true" />
    <setting id="iwz" value="true" />
    <setting id="jar" value="true" />
    <setting id="jen_cat-1" value="true" />
    <setting id="jen_cat-2" value="true" />
    <setting id="jen_cat-3" value="true" />
    <setting id="jen_cat-4" value="true" />
    <setting id="jen_cat-5" value="true" />
    <setting id="jen_cat-6" value="false" />
    <setting id="jen_name_cat-1" value="RD" />
    <setting id="jen_name_cat-2" value="4K" />
    <setting id="jen_name_cat-3" value="Movie Release" />
    <setting id="jen_name_cat-4" value="4K TV Show" />
    <setting id="jen_name_cat-5" value="4K + 1080P" />
    <setting id="jen_name_cat-6" value="" />
    <setting id="jen_progress" value="false" />
    <setting id="jen_tmdb" value="false" />
    <setting id="kids_dp" value="false" />
    <setting id="lang" value="1" />
    <setting id="last_update_id" value="" />
    <setting id="lats" value="true" />
    <setting id="listen_port" value="6881" />
    <setting id="lock_display" value="true" />
    <setting id="m321" value="true" />
    <setting id="m4u" value="true" />
    <setting id="magnet" value="true" />
    <setting id="magnet_api" value="true" />
    <setting id="magnet_ez" value="true" />
    <setting id="magnet_kick" value="true" />
    <setting id="magnet_zg" value="true" />
    <setting id="magnetdl" value="true" />
    <setting id="max_failcount" value="3" />
    <setting id="max_quality_m" value="0" />
    <setting id="max_quality_t" value="0" />
    <setting id="mf" value="true" />
    <setting id="mfl" value="true" />
    <setting id="mhd" value="true" />
    <setting id="min_reconnect_time" value="60" />
    <setting id="min_seed" value="3" />
    <setting id="mlt" value="true" />
    <setting id="mmf" value="true" />
    <setting id="movies_download_path" value="" />
    <setting id="movies_hearing_impaired" value="false" />
    <setting id="movies_keep_complete" value="false" />
    <setting id="movies_keep_files" value="false" />
    <setting id="movies_keep_incomplete" value="false" />
    <setting id="movies_metadata_lastchanged" value="" />
    <setting id="movies_metadata_provider" value="1" />
    <setting id="movies_metadata_provider_old" value="" />
    <setting id="movies_play3d" value="0" />
    <setting id="movies_preferred_subtitles_old" value="" />
    <setting id="movies_prioritere_impaired_old" value="" />
    <setting id="movies_proxies" value="" />
    <setting id="movies_quality" value="1" />
    <setting id="movies_subtitle_language0" value="0" />
    <setting id="movies_subtitle_language1" value="0" />
    <setting id="movies_subtitle_language2" value="0" />
    <setting id="movies_subtitle_lastchanged" value="" />
    <setting id="movies_subtitle_provider" value="1" />
    <setting id="movies_subtitles_provider_old" value="" />
    <setting id="movies_syslang" value="" />
    <setting id="moviesak" value="true" />
    <setting id="moviex" value="true" />
    <setting id="mpr" value="true" />
    <setting id="mtn" value="true" />
    <setting id="mvd" value="true" />
    <setting id="mvg" value="true" />
    <setting id="mvl" value="true" />
    <setting id="mvs" value="true" />
    <setting id="mvx" value="true" />
    <setting id="nextup" value="true" />
    <setting id="ninja" value="true" />
    <setting id="num_p" value="20" />
    <setting id="odb" value="true" />
    <setting id="opws" value="true" />
    <setting id="order_jen" value="0" />
    <setting id="order_movie" value="2" />
    <setting id="order_networks" value="1" />
    <setting id="order_torrents" value="2" />
    <setting id="order_tv" value="2" />
    <setting id="peer_connect_timeout" value="30" />
    <setting id="pf" value="true" />
    <setting id="phz" value="true" />
    <setting id="pkl" value="true" />
    <setting id="pks" value="true" />
    <setting id="play_nextup_wait" value="false" />
    <setting id="players" value="6" />
    <setting id="players_new" value="7" />
    <setting id="prf" value="true" />
    <setting id="pul" value="true" />
    <setting id="put" value="true" />
    <setting id="px" value="10" />
    <setting id="py" value="10" />
    <setting id="qaz" value="true" />
    <setting id="qqm" value="true" />
    <setting id="quality" value="0" />
    <setting id="qwe" value="true" />
    <setting id="rapid" value="true" />
    <setting id="rapid_server" value="true" />
    <setting id="rd.auth" value="" />
    <setting id="rd.client_id" value="" />
    <setting id="rd.expiry" value="0" />
    <setting id="rd.refresh" value="" />
    <setting id="rd.secret" value="" />
    <setting id="rd_menu_enable" value="false" />
    <setting id="rd_only" value="false" />
    <setting id="rdsource" value="false" />
    <setting id="red" value="true" />
    <setting id="red2" value="true" />
    <setting id="remote_path" value="" />
    <setting id="remote_selection" value="0" />
    <setting id="req" value="true" />
    <setting id="rts" value="true" />
    <setting id="save_time" value="72" />
    <setting id="sbx" value="true" />
    <setting id="sc" value="true" />
    <setting id="scen" value="true" />
    <setting id="scn" value="true" />
    <setting id="sdarot" value="true" />
    <setting id="seehd" value="true" />
    <setting id="sertnow" value="true" />
    <setting id="server_dp" value="true" />
    <setting id="shd" value="true" />
    <setting id="show_p2" value="false" />
    <setting id="show_p_time" value="20" />
    <setting id="showbox" value="true" />
    <setting id="shuid" value="true" />
    <setting id="size_limit" value="80" />
    <setting id="slow_source" value="5" />
    <setting id="solaris" value="true" />
    <setting id="source_sim" value="true" />
    <setting id="sp" value="true" />
    <setting id="sratim" value="true" />
    <setting id="src_disp" value="true" />
    <setting id="sru" value="true" />
    <setting id="str" value="true" />
    <setting id="subs" value="true" />
    <setting id="subs_new" value="false" />
    <setting id="super" value="true" />
    <setting id="time_s" value="60" />
    <setting id="time_to_save" value="75" />
    <setting id="tm4u" value="true" />
    <setting id="tmf" value="true" />
    <setting id="torrent_connect_boost" value="50" />
    <setting id="trac_trk" value="false" />
    <setting id="trackers" value="" />
    <setting id="trailer_dp" value="false" />
    <setting id="trailer_wait" value="true" />
    <setting id="tran_enable" value="true" />
    <setting id="tts" value="true" />
    <setting id="ttw" value="true" />
    <setting id="tvl" value="true" />
    <setting id="tvs" value="true" />
    <setting id="tw" value="true" />
    <setting id="twodll" value="true" />
    <setting id="ultra" value="true" />
    <setting id="upload_kbps" value="0" />
    <setting id="upto" value="true" />
    <setting id="use_random_port" value="true" />
    <setting id="use_trak" value="false" />
    <setting id="username" value="" />
    <setting id="vidf" value="true" />
    <setting id="w4hd" value="true" />
    <setting id="wav" value="true" />
    <setting id="wf" value="true" />
    <setting id="wfm" value="true" />
    <setting id="whm" value="true" />
    <setting id="width" value="400" />
    <setting id="window" value="30" />
    <setting id="wrz" value="true" />
    <setting id="wss" value="true" />
    <setting id="wsse" value="true" />
    <setting id="xmv" value="true" />
    <setting id="yify" value="true" />
    <setting id="zcm" value="true" />
</settings>
